# Data files
data/*.csv
data/*.csvZone.Identifier

# Virtual Environment
sales_venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db